**
!apps/**
!packages/**
!package.json
!yarn.lock
!pnpm-lock.yaml
!pnpm-workspace.yaml
!turbo.json
!tsconfig.*
!*.sh
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db
**/build
**/.expo
**/.turbo
**/.cache
**/node_modules
**/.next
**/*.log
**/.env
**/.env.*